[submodule "third_party/blst"]
	path = third_party/blst
	url = https://github.com/supranational/blst.git
[submodule "third_party/secp256k1"]
	path = third_party/secp256k1
	url = https://github.com/bitcoin-core/secp256k1
